%p
  Hello Ignite Judges!

%p
  Below are the proposals we've received to speak at Ignite Baltimore.
  You can vote on them at this link: #########

%p
  Thanks for your help!

%p= "-Mike, Neal, and Jen"

= @html
