%p
  Thanks for submitting your talk proposal
  = @proposal.title
  to Ignite Baltimore. We'll email you about a month before the show to let you know
  whether our selection committee chose your talk.

%p
  = link_to("Click here",@url)
  to make changes to your proposal, or to delete it. <strong>NOTE</strong>: if you lose
  this link you will not be able to make changes. Thanks!
