.row
  %p.span8
    We are not curently accepting proposals to speak at Ignite Baltimore.
    For more details check out <a href="http://www.ignitebaltimore.com">ignitebaltimore.com</a>.

.row
  %p.span8
    If you want to receive notices about our next call for speaking proposals, please join our <a href='http://www.ignitebaltimore.com/mailing_list'>mailing list</a>.
