.row
  %p.span8
    You are submitting a proposal for Ignite Baltimore #12 on March 28th, 2013. Proposals are due February 17th, 2013.
    For more details check out <a href="http://www.ignitebaltimore.com">ignitebaltimore.com</a>.

.row
  = render partial: "form", locals: { proposal: proposal }
