.row
  %p.span8
    You are submitting a proposal for Ignite Baltimore #13 on September 26th, 2013. Proposals are due <strong>August 27th, 2013</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
