.row
  .container
    You are submitting a proposal for Ignite Baltimore #17 on September 29th, 2015. Proposals are due <strong>the morning of August 24th, 2015</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
