.row
  .container
    You are submitting a proposal for Ignite Baltimore #18 on April 21, 2016. Proposals are due <strong>Monday, March 14</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
