.row
  %p.span8
    You are submitting a proposal for Ignite Baltimore #15 on September 18th, 2014. Proposals are due <strong>the morning of August 8th, 2014</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
