.row
  %p.span8
    You are submitting a proposal for Ignite Baltimore #16 on April 30th, 2015. Proposals are due <strong>the morning of March 13th, 2015.</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
