.row
  %p.span8
    You are submitting a proposal for Ignite Baltimore #14 on March 13th, 2014. Proposals are due <strong>February 7th, 2014</strong>.
    Please review our <a href="http://www.ignitebaltimore.com/speaking">speaker guidelines</a> before submitting a proposal.

.row
  = render partial: "form", locals: { proposal: proposal }
