.row
  .span12
    %table.table.table-condensed
      %thead
        %tr
          %th.span3 Title
          %th.span2 Speaker
          %th.span5 Description
          %th.span2 Bio
        %tbody
      %tbody
        = render proposals
