%ul
  %li= link_to "All Proposals", rails_admin.index_path("proposal") #"admin/proposal"
  %li= link_to "Proposals Submitted for Next Show", "/admin/proposal?&f%5Barchived%5D%5B84111%5D%5Bv%5D=false"
  %li= link_to "Selected Proposals for Next Show", "/admin/proposal?f%5Bselected%5D%5B81742%5D%5Bv%5D=true"
