= link_to AppContainer.appname, root_path, :class => 'brand'

-#%ul.nav
  -#%li= link_to("Add an App",platforms_path)

-#%ul.nav.pull-right
  -#%li= link_to("Full Screen","#",id: "full_screen_link")
  -#%li= link_to(current_user.email, edit_user_registration_path)
  -#%li= link_to('Sign Out', destroy_user_session_path, :method=>'delete')
